#experience{
  display: flex;
  flex-direction: column;
  padding: 100px;
  width: 100%;
  height: auto;
}

.j_title{
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5px;
}
.j_duration{
  display: flex;
  font-size: 0.8rem;
  line-height: 12px;
  margin-top: 10px;
}

/* responsiveness */
@media screen and (max-width: 768px) {

  .experience{
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }

  .j_title{
    width: 100%;
    font-size: 0.8rem;
  }

  .j_duration{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

}