@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* color: #cbd2e6; */
}

.app{
  background-color: #0a192f;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.react-tabs {
  display: flex;
  width: 100%;
  height: auto;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0;
  padding: 0;
  border: none !important;
}

.react-tabs__tab {
  height: auto;
  list-style: none;
  padding: 20px 6px;
  cursor: pointer;
  color: #bbb;
  border: none !important;
  font-size: 0.8rem;
  margin-top: 20px;
  background: transparent !important;
}

.react-tabs__tab--selected {
  border-left: 4px solid #cc2121 !important;
  background: transparent;
  color: #cc2121 !important;
}

.react-tabs__tab-panel {
  display: none;
  width: 50%;
  margin-left: 30px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  text-align: center;
}

